/ = simple_form_for([@post]) do |f|
/ 	= f.input :body, label: "Reply to thread"
/ 	= f.submit

%h2 Add a Comment


= simple_form_for ([@post, @post.comments.build]) do |f|
	= f.input :body, label: "Reply"
	= f.button :submit, class: "button"