- if @post.user.username == current_user.username
	.col-md-6.col-md-offset-3
		.row
			.panel.panel-default
				.panel-heading
					%h1 Edit Post
					= image_tag @post.image.url(:medium)
				.panel-body
					= render 'form'
