/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: Helvetica;
	background-color: #F2F1EF;
}

.search {
	margin-top: 11px;
	input {
		border-radius: 2px;
		height: 35px;
		border: 2px solid #F9BF3B;
		outline: 0;
		padding-left: 20px;
	}
	button {
		height: 31px;
		width: 50px;
		border-radius: 2px;
		background-color: #F2F1EF;
		border: none;
		color: black;
		&:hover {
			background-color: #F2F1EF;
			color: black;
		}
	}
}

.navbar {
	background-color: #F9BF3B;
	border: none;
	border-radius: 0;
	margin-top: 20px;
	.navbar-brand {
	    position: absolute;
	    width: 100%;
	    left: 0;
	    top: 0;
	    text-align: center;
	    margin: auto;
	}
	a {
		color: black;
		&:hover{
			text-decoration: none;
			color: #F2F1EF;
		}
	}
}

.navbar-default {
	.navbar-nav {
		li {
			a {
				color: black;
				&:hover{
					color: black;
				}
			}
		}
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
}

#posts.transitions-enabled {
	margin: 0 auto;
	width: 300px;
	.box {
		margin: .5px;
		width: 300px;
		text-align: center;
		img {
			max-width: 100%;
			text-align: center;
		}
		a {
			font-size: 18px;
			margin: 0;
			color: black;
			&:hover {
				text-decoration: none;
			}
		}
	}
}