/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: Helvetica;
	background-color: #6C7A89;
}

.search {
	margin-top: 11px;
	input {
		border-radius: 2px;
		height: 35px;
		border: 2px solid #6C7A89;
		outline: 0;
		padding-left: 20px;
	}
	button {
		height: 34px;
		width: 50px;
		border: 2px solid #6C7A89;
		border-radius: 2px;
		background-color: #F2F1EF;
		color: black;
		&:hover {
			background-color: #6C7A89;
			color: white;
			border: 2px solid #6C7A89;
		}
	}
}

.navbar {
	background-color: #F9BF3B;
	border: none;
	border-radius: 0;
	margin-top: 20px;
	.navbar-brand {
	    position: absolute;
	    width: 100%;
	    left: 0;
	    top: 0;
	    text-align: center;
	    margin: auto;
	    font-weight: 700;
	}
	a {
		color: black;
		&:hover{
			text-decoration: none;
			color: gray;
		}
	}
}

.navbar-default {
	.navbar-nav {
		li {
			a {
				color: black;
				&:hover{
					color: gray;
				}
			}
		}
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
}

#posts.transitions-enabled {
	margin: 0 auto;
	width: 300px;
	.box.panel.panel-default.masonry-brick{
		border: none;
		border-radius: 0;
	}
	.panel-footer {
		background-color: #F9BF3B;
		border-radius: 0;
	}
	.box {
		margin: 2px;
		width: 300px;
		text-align: center;
		box-shadow: rgba(0, 0, 0, 0.09) 0 3px 0;
		overflow: hidden;
		img {
			max-width: 100%;
			text-align: center;
			-webkit-transition: all .3s ease-out;
	  		-moz-transition: all .3s ease-out;
	 		-o-transition: all .3s ease-out;
    		transition: all .3s ease-out;
    		&:hover {
    			transform: scale(1.075);
    		}
		}
		a {
			font-size: 16px;
			margin: 0;
			color: black;
			&:hover {
				text-decoration: none;
				color: gray;
			}
		}
	}
}